@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header
{
    width: 100vw;
    height: 23.7vw;
    background-color: #003B95;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar
{
    width: 71vw;
    height: 5vw;
    position: absolute;
    top: 0vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
}

.logo
{
    font-family: 'M PLUS Rounded 1c';
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    height: 3.2vw;
    width: 7vw;
}

.accAndOther
{
    width: 25vw;
    height: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgerButton
{
    padding: 1vw;
    font-size: 2vw;
    color: #fff;
    font-weight: 600;
    border-radius: 0.3vw;
    transition: all 0.2s ease-out;
}

.burgerButton:hover
{
    background-color: #ffffff57;
    border-radius: 0.7vw;
}

@media (max-width: 768px)
{
    header
    {
        height: 500px;
    }
    .navBar
    {
        width: 100vw;
        height: 4vw;
        padding: 3vw;
    }

    .logo
    {
        font-size: 3.5vw;
    }

    .burgerButton
    {
        font-size: 3vw;
    }
}